*{
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
.container{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container img{
width: 128px;
}
header .container{
    z-index: 2;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid black;
}
header .container nav a{
    margin: 0px 30px;
    color: rgba(255, 0, 0, 0.733);
    background-color: white;
}
header .container nav a:hover{
    
    color: white;
    background-color: rgba(255, 0, 0, 0.733);
    border-radius: 10px;
    padding: 5px;
    
}
#inicio{
    height: 780px;
    background-image: url(../img/bannerprincipal.jpg);
    background-size: cover;
    align-items: center;
}

.bloque-inicio{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 15%;
    background-color: rgba(0, 0, 0, 0.575);
    left: auto;
    border: 1px solid rgba(0, 0, 0, 0.342);
    width: 30rem;
    border-radius: 10px;
}
.bloque-inicio p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px;
    text-align: center;
    margin: 0%;
}

.boton{
    padding: 10px;
    width: 100px;
    background-color: red;
    color: white;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
#nosotros{
    background-image: url(../img/latas.jpg);
    background-size: cover;
    height: 650px;
}
#nosotros p {
    position:absolute;
    margin-top: 15%;
    padding: 20px;
    padding-left: 500px;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.349);
    color: white;
    width: 75%;
    border-radius: 20px;
}
#nosotros img {
    z-index: 1;
    position: relative;
    margin-left: 5%;
    margin-top: 15%;
    width: 29%;
    border: 1px solid black;
    border-radius: 10px;
    opacity: 0.8;
}
#nosotros .container{
 justify-content:space-between;
 margin-left: 10%;
}