*{
    box-sizing: border-box;
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
.container{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header .container img{
width: 128px;
}
header .container{
    z-index: 2;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid black;
}
header .container nav a{
    margin: 0px 30px;
    color: rgba(255, 0, 0, 0.733);
    background-color: white;
}
header .container nav a:hover{
    
    color: white;
    background-color: rgba(255, 0, 0, 0.733);
    border-radius: 10px;
    padding: 5px;
    
}
#inicio{
    height: 780px;
    background-image: url(../img/bannerprincipal.jpg);
    background-size: cover;
    align-items: center;
}

.bloque-inicio{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 15%;
    background-color: rgba(0, 0, 0, 0.575);
    left: auto;
    border: 1px solid rgba(0, 0, 0, 0.342);
    width: 30rem;
    border-radius: 10px;
}
.bloque-inicio p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    padding: 10px;
    text-align: center;
    margin: 0%;
}

.boton{
    padding: 10px;
    width: 100px;
    background-color: red;
    color: white;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
#nosotros{
    background-image: url(../img/latas.jpg);
    background-size: cover;
    height: 650px;
}
#nosotros p {
    font-size: 1.5em;
    color: white;
    width: 40%;
    margin: auto 10px auto 10px;
}
#nosotros img {
    z-index: 1;
    width: 35%;
    border: 5px dotted black;
    opacity: 0.8;
    margin-right: 5%;
}
#nosotros .container{
    padding-top: 10%;
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 10px;
    justify-content:center;
}
.container .tarjeta{
    align-items:flex-end;

}
#servicios .container{
    padding: auto 10px;
}
.tarjeta{
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
    padding: 10px 10px;
    width: 33.33%;
    height: 400px;
    border: 2px dotted black;
}
.tarjeta p{
    height: 55px;
}
.tarjeta img{
    width: 400px;
}
#contactenos{
    background-color: black;
    align-items: center;
}
#contactenos h2{
    color: white;
    align-self: center;
    display: inline;
    margin-left: auto;
    margin-right: auto;
}
#contactenos .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.185);
    width: 512px;
    height: 300px;
    padding: 20px;
}

#txt{
    height: 150px;
}